In [50]:
#import library

import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split as train
from sklearn.metrics import mean_absolute_error as mae

In [37]:
#connect to google drive

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [38]:
# Lokasi File untuk dibaca
home_file_data = 'gdrive/My Drive/dataset/train.csv'

#Membaca Data ke variable home_data
home_data = pd.read_csv(home_file_data)

#Menunjukkan rangkuman statistik seperti rata-rata, median, dll pada kolom.
home_data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [39]:
#mencari rata rata dari lotsize

avg_lot_size = round(home_data['LotArea'].mean()) #fungsi round untuk pembulatan
print("Rata - Rata Lot Size : ", avg_lot_size)

#berdasarkan hari ini, berapa umur dari rumah yang paling terbaru (tahun sekarang - tahun pembuatan)
sekarang = datetime.now()
tahun = sekarang.year

newest_home_year = round(home_data['YearBuilt'].max())
newest_home_age = tahun-newest_home_year 

print("Umur rumah paling terbaru pada saat ini yaitu : ",newest_home_age, "tahun")

Rata - Rata Lot Size :  10517
Umur rumah paling terbaru pada saat ini yaitu :  11 tahun

In [40]:
# melihat list column yang ada di dalam dataset 

print("List Column Ada Di Dataset")
print(home_data.columns)

#memilih column SalePrice

Y = home_data.SalePrice

#membuat list dari feature 
feature_names = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

#mendefinisikan feature_names untuk menjai variabel X yang memegang fitur prediktif
X = home_data[feature_names]

#Menunjukkan rangkuman statistik seperti rata-rata, median, dll pada kolom.
print(X.describe())

#cetak beberapa baris teratas
print(X.head())

List Column Ada Di Dataset
Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')
             LotArea    YearBuilt  ...  BedroomAbvGr  TotRmsAbvGrd
count    1460.000000  1460.000000  ...   1460.000000   1460.000000
mean    10516.828082  1971.267808  ...      2.866438      6.517808
std      9981.264932    30.202904  ...      0.815778      1.625393
min      1300.000000  1872.000000  ...      0.000000      2.000000
25%      7553.500000  1954.000000  ...      2.000000      5.000000
50%      9478.500000  1973.000000  ...      3.000000      6.000000
75%     11601.500000  2000.000000  ...      3.000000      7.000000
max    215245.000000  2010.000000  ...      8.000000     14.000000

[8 rows x 7 columns]
   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  TotRmsAbvGrd
0     8450       2003       856       854         2             3             8
1     9600       1976      1262         0         2             3             6
2    11250       2001       920       866         2             3             6
3     9550       1915       961       756         1             3             7
4    14260       2000      1145      1053         2             4             9

In [41]:
home_model = DecisionTreeRegressor(random_state=1)

#fit model
home_model.fit(X,Y)

#membuat prediksi

predictions = home_model.predict(X)
print(predictions)

#Berfungsi untuk melihat data sebanyak n pada kolom awal (jika tidak diisi, secara random n=6).

# You can write code in this cell
Y.head(6)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

0    208500
1    181500
2    223500
3    140000
4    250000
5    143000
Name: SalePrice, dtype: int64

In [42]:
#train data

train_X, val_X, train_y, val_y = train(X,Y,random_state=1)

#tentukan modelnya

home_model = DecisionTreeRegressor(random_state=1)

#fit model dengan training data
home_model.fit(train_X,train_y)

#prediksi dengan semua obsvarsi validasi
val_predictions = home_model.predict(val_X)

#mencetak beberapa hasil prediksi teratas

print("Top Few Validation Predictions")
print(val_predictions[:5])

#mencetak beberapa hasil yang sebenarnya
print("Top Few Actual Prices From Validation")
print(val_y[:5])

Top Few Validation Predictions
[186500. 184000. 130000.  92000. 164500.]
Top Few Actual Prices From Validation
258     231500
267     179500
288     122000
649      84500
1233    142000
Name: SalePrice, dtype: int64

In [43]:
#Menghitung MAE pada validasi data
val_mae = mae(val_y, val_predictions)

print("MAE pada validasi data : ", val_mae)

MAE pada validasi data :  29652.931506849316

In [56]:
#membuat fungsi MAE

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    maes = mae(val_y, preds_val)
    return(maes)

Tulis loop yang mencoba nilai berikut untuk max_leaf_nodes dari sekumpulan nilai yang mungkin.

Panggil fungsi get_mae pada setiap nilai max_leaf_nodes. Simpan output dengan cara tertentu yang memungkinkan Anda memilih nilai max_leaf_nodes yang memberikan model paling akurat pada data Anda.

In [57]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

#menggunakan fungsi loop untuk menemukan ukuran pohon ideal dari variabel diatas

list_mae = []
for leaf_nodes in candidate_max_leaf_nodes:
    result = get_mae(leaf_nodes, train_X, val_X, train_y, val_y)
    #print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(leaf_nodes, result))
    list_mae.append(result)

#simpan hasil dari max_leaf_nodes yang paling baik 
# Store the best value of max_leaf_nodes (itu akan menjadi 5, 25, 50, 100, 250 or 500)

print("\nthe best value of max_leaf_nodes :")
best_tree_size = candidate_max_leaf_nodes[list_mae.index(min(list_mae))] 
print(best_tree_size)

the best value of max_leaf_nodes :
100

In [58]:
#membuat ukuran yang optimal
final_model = DecisionTreeRegressor(max_leaf_nodes = best_tree_size, random_state=1)

#fit final model
final_model.fit(X, Y)
print("Hasil Fit Final Model : ", final_model)

Hasil Fit Final Model :  DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=100,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')